---
import { Image } from 'astro:assets'
import { getSanityData, urlForImage } from '../lib'

const qroq = '*[_type == "postcard"][0]{secretLoot}'

const { secretLoot } = await getSanityData(qroq)
---

<div class='carousel-item h-full w-screen'>
	<div class='hero min-h-screen bg-base-200'>
		<div class='hero-content text-center flex-wrap flex-col'>
			<h2 class='text-warning'>❓Secret Loot</h2>
			{
				secretLoot && (
					<div id='sanityLootContainer' class='max-w-md title'>
						{secretLoot.map((image: {}, idx: number) => (
							<Image
								alt={`Secret Loot Image Nr. ${idx}`}
								src={`${urlForImage(image).url()}`}
								width={500}
								height={500}
							/>
						))}
					</div>
				)
			}
		</div>
	</div>
</div>

<style is:global>
	div#sanityLootContainer p {
		@apply my-4 text-lg text-justify;
	}

	div#sanityLootContainer {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	div#sanityLootContainer.show {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
</style>

<script>
	let observer: IntersectionObserver | null = null
	const sanityLootContainer = document.querySelector('div#sanityLootContainer')

	if (sanityLootContainer) {
		observer = new IntersectionObserver(entries => {
			if (entries[0].isIntersecting) {
				sanityLootContainer.classList.add('show')
			} else {
				sanityLootContainer.classList.remove('show')
			}
		})

		observer.observe(sanityLootContainer)
	}
</script>
